<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
    <header>
        <a id = "blog" href="/">Blog</a>
        <ul class = "nav">
            <form action="/registration" method="get">
                <li><a class="btn" href="../registration">Signup<span style="display: none;"><button type="submit"></button></span></a></li>
            </form>
            <form action = "/login" method="get">    
               <li><a class="btn" href="../login">Login<span style="display: none;"><button type="submit"></button></span></a></li>
            </form>
        </ul>
    </header>
    <main id="home_main">

    