<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" type="text/css">
    <title>CREATE</title>
</head>
<body>
    <div id="create-blog">
        <h2>Blogging Bliss: Capturing Moments, Sharing Stories</h2>
        <form class="flex-container" action="create" method="post">
            <input type="text" name = "title" placeholder="Input title here">
            <label style="padding: 8px 0;">Blog content: </label>
            <textarea name="text" rows="8" cols="50"></textarea>
            <button type="submit">CREATE</button>
        </form>
    </div>
</body>
</html>