<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" type="text/css">
    <title>Login</title>
</head>
<body id="login">
    <div class="log">
        <h1 style="text-align: center; padding: 8px;">Login</h1>
        <form id = "log" action = "/login" method="POST">
            <input type = "text" name = "username" placeholder="Input your username">
            <input type="password" name="password" placeholder="Input your password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>