<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" type="text/css">
    <title>Login</title>
</head>
<body id="registration">
    <div class="reg">
        <h1 style="text-align: center;">Registration</h1>
        <form id="reg" action = "/registration" method="POST">
            <input type = "text" name = "username" placeholder="Input your username">
            <input type="password" name="password" placeholder="Input your password">
            <input type="password" name="checkPassword" placeholder="verify your password">
            <button type="submit">sign up</button>
        </form>
    </div>
</body>
</html>