<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" type="text/css">
    <title>Update blog</title>
</head>
<body>
    <div>
        <form class="flex-container" action="/update" method="post">
            <% if(locals.theBlog){ %>
            <h5><%= theBlog.title %></h5>
            <input type="hidden" name="id" value=<%= theBlog.id %>>
            <textarea name="update" rows="20"><%= theBlog.text %></textarea>
            <button type="submit">Update</button>
            <% } %>
        </form>
    </div>
</body>
</html>